/*  your css code here. If applicable */
body{
	background-color: #f8f8f8;
	
}
/* .outer{
	display:flex;
	flex-direction: column;
	width:400px;
	padding: 50px;
	/* background-color: lightcoral; */
	/* margin: 50px;}  */


.book-name{
	text-align:left;
}
p{
	font-size:20px;
	color: #777777;
}

/* .book-name{
	text-align:left;
	
} */
.book{
	text-align:center;
	
}
.book-price{
	background-color:#2ecc71;
	color: #FFFFFF; 
}
.book-library{
	text-align:center;
	background-color:#ffffff;
	
}